<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links Favoritos</h1>
            <h3 class="mb-5">
                <em>Ahora podrá almacenar sus sitios webs favoritos acá, puede editarlos y eliminarlos.</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                ¡Comencemos!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    style="position:fixed bottom:0">
    <p class="col-md-4 mb-0 text-muted">© 2023 Yurley Loaiza</p>
</footer>